body {
    background: rgb(255, 255, 255);
}

h1 {
    color: rgb(0, 0, 0);
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#demo {
    font-size: 1rem;
    color: gray;
}

.card-block-single-blog-post {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;

}

.card-single-blog-post {
    font-size: 1em;
    overflow: hidden;
    padding: 5;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    margin-top: 20px;
}

.cover-img-single-blog-post{
    max-height: fit-content;
}