{% extends 'base.html' %}
{% block TITLE %} Add User {% endblock TITLE %}

{% block content %}

{% if name %}

<h1 class="my-3">User Added</h1>

<table class="table table-light table-striped table-hover my-5">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Favorite Color</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for user in our_users %}
        <tr>
            <td>{{user.name}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.favorite_color}}</td>
            <td><a href="/update/{{user.id}}"><button type="button"
                        class="btn btn-outline-secondary btn-sm">Update</button></a>
                <a href="/delete/{{user.id}}"><button type="button"
                        class="btn btn-outline-danger btn-sm">Delete</button></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}

<h1 class="my-4">User List:</h1>

<div class="shadow p-3 mb-5 bg-body rounded">
    <form class="my-4" method="POST">

        {{form.hidden_tag()}}

        {{form.name.label()}}
        {{form.name(class="form-control")}}
        <br />

        <div class="row g-3">
            <div class="col">
                {{form.username.label()}}
                {{form.username(class="form-control")}}
            </div>
            <div class="col">
                {{form.email.label()}}
                {{form.email(class="form-control")}}
            </div>
        </div>

        <br />
        {{form.favorite_color.label()}}
        {{form.favorite_color(class="form-control")}}
        <br />

        <div class="row g-3">
            <div class="col">
                {{form.password_hash.label()}}
                {{form.password_hash(class="form-control")}}
            </div>
            <div class="col">
                {{form.password_hash2.label()}}
                {{form.password_hash2(class="form-control")}}
            </div>
        </div>

        <br />
        {{form.submit(class="btn btn-secondary")}}

    </form>
</div>

<table class="table table-light table-striped table-hover my-5">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Favorite Color</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for user in our_users %}
        <tr>
            <td>{{user.name}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.favorite_color}}</td>
            <td><a href="/update/{{user.id}}"><button type="button"
                        class="btn btn-outline-secondary btn-sm">Update</button></a>
                <a href="/delete/{{user.id}}"><button type="button"
                        class="btn btn-outline-danger btn-sm">Delete</button></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endif %}

{% endblock content %}