{% extends 'base.html' %}
{% block TITLE %} {{post.poster.name}} {% endblock TITLE %}

{% block content %}

<div class="card-single-blog-post">
    <div class="row ">

        <div class="px-3">
            <div class="card-block-single-blog-post px-6">
                <h2 class="card-title">{{post.title}}</h3>
                    <hr>
                    <p class="card-text">{{post.content|safe}}</p>
                    <hr>
                    <h4 class="card-text"><small><strong>About Author</strong></small></h4>
                    <h4> <small>Name - {{post.poster.name}}</small></h4>
                    <h5><small>{{post.poster.about_user}}</small></h5>
                    <hr>

                    {% if post.poster_id == current_user.id or current_user.id == 1 %}
                    <a href="/blog-posts" class="mt-auto btn btn-outline-primary">All Blogs</a>
                    <a href="/blog-posts/update/{{post.id}}" class="mt-auto btn btn-outline-primary">Edit</a>
                    <a href="/blog_posts/delete/{{post.id}}" class="mt-auto btn btn-outline-danger">Delete</a>
                    {% else %}
                    <a href="/blog-posts" class="mt-auto btn btn-outline-primary">All Blogs</a>
                    {% endif %}


            </div>
        </div>

    </div>
</div>



</div>


{% endblock content %}a