{% extends 'base.html' %}
{% block TITLE %} Name {% endblock TITLE %}

{% block content %}

{% if email %}

<h1 class="my-3">Email: {{email}}</h1>
<h1 class="my-3">Password: {{password}}</h1>
<br />
<h6 class="my-3">I found this info: <br/> Name - {{pw_to_check.name}} | Email - {{pw_to_check.email}} <br/> Pass - {{pw_to_check.password_hash}}</h6>
<br/>
<h6>Passed - {{passed}}</h6>

{% else %}

<h1 class="my-3">What's your Wmail and password?</h1>

<form method="POST">

    {{form.hidden_tag()}}

    {{form.email.label(for="exampleInputEmail1")}}
    {{form.email(class="form-control")}}
    <br />
    {{form.password_hash.label(for="exampleInputEmail1")}}
    {{form.password_hash(class="form-control")}}
    <br />
    {{form.submit(class="btn btn-secondary")}}

</form>

{% endif %}

{% endblock content %}